@color-background: #140941;
@color-primary: #f8003f;
@color-secondary: #EAD2AC;
@color-tertiary: #00E5E8;
@color-text: #D1DEDE;
@color-primary-hover : lighten(@color-primary, 10%);
@color-primary-focus : darken(@color-primary, 10%);
