#name {
  font-family: "Montserrat";
  font-weight: 900;
  color: @color-primary;
  text-align: center;
  z-index: 1;
}

#name p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  animation: gelatine 0.5s;
  animation-delay: 1s;
}

#name p span {
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  background-color: @color-primary;
  background-clip: text;
  background-size: 50px;
  -webkit-text-fill-color: transparent;
  animation: background-loop 20s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: background-position;
}

@keyframes background-loop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// XL
@media screen and (min-width: 1280px) {
  #name p span {
    background-size: 100px;
  }
}

// LG
@media screen and (min-width: 1024px) {
  #name p span {
    background-size: 80;
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
