nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
  backdrop-filter: blur(10px);
  background-color: fade(@color-navbar, 5);
  transition: top 0.5s;
  transition-delay: 0.2s;
}

#mobile-menu {
  display: none;
}
