@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

#whoami {
  opacity: 0;
  -webkit-animation: slideInFromLeft 2s ease 3.5s forwards;
  -moz-animation: slideInFromLeft 2s ease 3.5s forwards;
  -o-animation: slideInFromLeft 2s ease 3.5s forwards;
  animation: slideInFromLeft 2s ease 3.5s forwards;
}

@media all and (min-width: 768px) {
  #bio {
    text-align: left;
    line-height: 1.75;
  }
}

@media all and (max-width: 768px) {
  #bio {
    text-align: left;
    line-height: 1.75;
    font-size: var(--fz-md);
  }
}

.bio-category {
  color: var(--green);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  cursor: pointer;
}

#bio-cat2,
#bio-cat3 {
  display: none;
}

.bio-link {
  text-decoration: underline dotted var(--green);
}

#messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 80%;
}

.question {
  background: #d8d4cf;
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-navy);
}

.answer {
  float: right;

  background: #1c3460;
  color: #d8d4cf;
}

.question + .answer {
  border-bottom-right-radius: 5px;
}

.answer + .answer {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.answer:last-of-type {
  border-bottom-right-radius: 30px;
}

#question-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#dropdown-menu {
  display: none;
  position: relative;
  background-color: var(--light-navy);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  color: var(--light-slate);
}

#dropdown-menu a::after {
  content: "\a";
  white-space: pre;
}

#dropdown-menu a:hover {
  background-color: #454a4d;
}

@media all and (min-width: 768px) {
  .question-line {
    padding-left: 1rem;
    width: 100%;
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .question-line {
    padding-left: 1rem;
    width: 90%;
    cursor: pointer;
    margin-top: 0.5rem;
  }
}

.question-line:before {
  content: "• ";
}
