#contact {
  opacity: 0;
  -webkit-animation: slideInFromLeft 2s ease 7.5s forwards;
  -moz-animation: slideInFromLeft 2s ease 7.5s forwards;
  -o-animation: slideInFromLeft 2s ease 7.5s forwards;
  animation: slideInFromLeft 2s ease 7.5s forwards;
}

@media all and (min-width: 768px) {
  #mail {
    display: block;
    width: 100%;
    font-weight: 800;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    margin-top: 5rem;
  }
}
@media all and (max-width: 768px) {
  #mail {
    display: block;
    width: 100%;
    font-weight: 800;
    font-size: 4vw;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    margin-top: 3rem;
  }
}

#mailWrapper {
  display: inline-flex;
  align-self: center;
}

#sendMail {
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

#sendMail svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

#mail:before,
#mail:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #e69500;
}

#mail:before {
  left: 40%;
}

#mail:after {
  right: 40%;
}

#mail:hover:before,
#mail:hover:after {
  opacity: 1;
  width: 50%;
}
