:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html {
  scrollbar-color: #495670 #0a192f;
}

body {
  background-color: #0a192f;
  color: #8892b0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

section {
  width: 100%;
}

#container3d {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 12;
  display: none;
}
#canvas3d {
  width: 100%;
  height: 100%;
  outline: none;
}
#face-close {
  position: absolute;
  z-index: 999;
  top: 2%;
  right: 2%;
  color: #fff;
}

.is-blurred {
  filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
}

#main-content {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  margin: 0px auto;
  max-width: 1000px;
}

.section-heading {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
}

.section-heading::before {
  position: relative;
  content: ">";
  margin-right: 0.5rem;
  color: #64ffda;
  font-weight: 400;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

#main-content section {
  margin: 0px auto;
  padding: 50px 0px;
  max-width: 1000px;
}

#lds-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  display: none;
}

.lds-ripple {
  display: inline-block;
  position: fixed;
  top: 50%;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#pleaseWait {
  position: fixed;
  top: 70%;
  width: 100%;
  font-size: 2vw;
}

#pleaseWait:after {
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

#longWait {
  opacity: 0;
  position: fixed;
  top: 75%;
  width: 100%;
  font-size: 1.5vw;
  animation: longWaitIn 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes longWaitIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
